@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
.App {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  font-family: 'Montserrat', sans-serif;
}

